source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="

use devenv

# application settings
export VERBOSE=false
export SERVER_TIMEZONE=America/Chicago
export IB_GATEWAY_HOST=localhost
export IB_GATEWAY_PORT=8888
export IB_COMMAND_SERVER_PORT=7462
export DATABASE_HOST=localhost
export DATABASE_PORT=5432
export QUOTES_API_KEY="$(gopass show api/financialmodelingprep)"
export ANTHROPIC_API_KEY="$(gopass show llm/anthropic/claude-general-key)"
export TELEGRAM_BOT_TOKEN="$(gopass show api/telegram/approval-bot-token)"
export TELEGRAM_ALLOWED_USER_ID="$(gopass show api/telegram/allowed-user-id)"

# ibkr gateway settings
export LIVE_USER_ID="$(gopass show ibkr/live_user_id)"
export LIVE_USER_PASS="$(gopass show ibkr/live_user_pass)"
